{% extends 'base.html.twig' %}

{% block title %}Liste des Professeurs{% endblock %}

{% block body %}

    <h1>Les professeurs</h1>

    <div class="d-flex justify-content-around">
        {% for prof in profs %}
            <div class="card m-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{prof.nom}} {{prof.prenom}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{prof.idMatiere.nom}}</h6>
                {% if prof.dateDeNaissance is not empty %}
                    <p><small class="card-text" >{{prof.dateDeNaissance.format('d/m/Y')}}</small></p>
                {% else %}
                    <p><small class="card-text" >Date non renseigner</small></p>
                {% endif %}
                <a href="{{ path('sup', { id: prof.id }) }}" class="card-link text-danger">Supprimer</a>
              </div>
            </div>
            {% endfor %}
    </div>

    <div class="card text-center">
        <div class="card-header">
          Ajouter Un Professeur
        </div>
        <div class="card-body">
          <p class="card-text">Cliquer ci-dessous pour afficher le formulaire</p>
          <a href="{{path('createprof')}}" class="btn btn-primary">Formulaire</a>
        </div>
    </div>

{% endblock %}
